@font-face {
    font-family: Din_Bold;
    src: url(Assets/Font/DIN_Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Niramit;
    src: url(Assets/Font/Niramit-Bold.ttf);
}



*{
    font-family: Din_Bold;
    color:#fefefe;
    background-color: #323232;
}
#header{
    background: #484848 ;
    height: 80px;
    width: 100%;
    padding: 5px;
    margin: -12px -10px 160px;
    overflow: hidden;
    position: fixed ;
    top: 0;
}
#logo{
    width: 200px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #fefefe;
}
#menu{
    float: right;
    list-style: none;
    background-color: #484848;
}
#menu li{
    background-color: #484848;
    float: left;
    padding: 14px 20px;
}
#menu li a{
    text-decoration: none;
    color: #d1d1d1;
    background-color: #484848;
}
#home{
    justify-items: center;
    height: 850px;
}
#hero{
    width: 820px;
    background-color: #fefefe;
    margin-top: 200px;
}
#content{
    margin: 0 80px 0 80px;
}
#Steam{
    background-color: #06152d;
}
#about_steam{
    width: 70%;
    float: left;
}
#steam_icon
{
    width: 300px;
    float: right;
}
#Games{
    background-color: #000000dd;
}
#Games_List{
    display: flex;
    margin: 20px 60px 20px 60px;
    max-width: 80%;
    flex-wrap: wrap;
    justify-self: center;
}
.Game_item{
    background-color: #24242460;
    border-radius: 16px;
    margin: 16px;
    text-wrap: wrap;
    overflow: hidden;
    filter: brightness(65%);
}
.Game_item:hover{
    scale: 110%;
    filter: brightness(100%);
}
.Game_item a{
    background-color: #00000000;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.Game_title{
    text-align: center;
    background: none;
}
.Game_item img{
    width: 320px;
}